body{
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: black;
}
a{
  text-decoration: none;
}
/* Container */
.container{
  width: 80%;
  margin: auto ;
  overflow: hidden;
  
}
header .logo{
  margin-top: 10px;
  float: left;
}
header{
  background: #000000;
  border-bottom: #fca311 3px solid;
}
header ul{
  margin:0;
  padding: 0;
}
header li{
  float: left;
  display: inline;
  padding:0 20px;
  margin-top: 15px;
}
header .Home a{
  color: #fca311;
}
header a:hover{
  color:#ffffff;
}
header a {
  color:white;
}
/* Navbar*/
nav{
  padding: 20px;
  float: right;
}
/* Main */
#showcase{
  min-height: 400px;
  background: url("../images/Bright.png") no-repeat 0 -100px;
  background-position: center;
  text-align: center;
  color: white;
  border-bottom: #fca311 3px solid;
}
#showcase h1{
  margin: 0 0 300px 0;
  font-size: 50px;
}
#showcase{
  font-size: 20px;
}
/* subscribe */
.subscribe{
  padding:15px;
  background: #000000;
  color: white;
  border-bottom: #fca311 3px solid;
}
.subscribe h3{
  float: left;
}
.subscribe form{
  float:right;
  padding:  15px;
}
input{
  padding: 5px;
  width: 200px;
}
button{
  width: 80px;
  height: 28px;
  background: #fca311;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
/* Logos */
.icons{
  background-color: #000000;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin: 0px;

}

.icons p{

  font-size: 16px;
}
.camera,.helal, .html{
  background:#9a031e;
  text-align: center;
  border: #ffffff solid 2px;
  color: #ffffff;
  width: 250px;
  padding: 60px;
  margin: 10px 100px;
  display: flex;
  justify-content: center;
}
/*Copyrights*/
footer{
  background: #000000;
  color:White;
  border-top: #fca311 solid 2px;
  text-align: center;
  border-bottom: #fca311 solid 2px;
}
.about{
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  background: #000000;
  border-bottom: #fca311 solid 2px;
}
hr{
 float: left;
 width: 150px;
}
/* about */
.omar, .unknown1 , .unknown2{
  background:#9a031e;
  text-align: center;
  border: #ffffff solid 2px;
  color: #ffffff;
  width: 400px;
  height: 300px;
  padding: 0px;
  margin: 20px 50px;
  display: inline-block;
  justify-content: center;
}
.omar{
  border-radius: 0 40px 40px 0;
}
.unknown1{
  border-radius: 40px;
}
.unknown2{
  border-radius: 40px 0 0 40px;
}
#team, #about_us{

  font-size: 40px;
  color: white;
}
.social {
  font-size: 30px;
  color: #ffffff;
}
.social a{
  color: white;

}
.social a:hover{
  color: #fca311;
  
}